.alt-header{
    padding: var(--horizontal-space);
    display: flex;
    align-items: center;
    margin-top: 20px;
    justify-content: center;
}
.alt-header__title{
    font-size: 28px;
    font-weight: bold;
}
.alt-header__column{
    width: 33%;
}
.alt-header__column i{
    margin: 0px 5px;
}
.alt-header__column:last-child{
    display: flex;
    justify-content: flex-end;
}
.alt-header__column:nth-child(2){
    text-align: center;
}
